<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<ul>
		<li th:each="dto, state: ${lists}" th:if="${dto.sno % 5 == 0}">
			[[${state.index}]] - [[${dto}]] <!-- 상태객체 state -->
		</li>
		
		<hr>
		
		<li th:each="dto, state : ${lists}">
			<span th:if="${dto.sno % 5 == 0}" th:text="${'..........' + dto.sno}" >
			</span>
			<span th:unless="${dto.sno % 5 == 0}" th:text="${'..........' + dto.first}" >
			</span>
		</li>
			
		<hr>
			
		<li th:each="dto,state : ${lists}" th:text="${dto.sno % 5 == 0} ? ${dto.sno} : ${dto.first}">
		</li>
		
		<hr>
		
		<th:block th:each="dto : ${lists}">
			<li>[[${dto}]]</li>
		</th:block>
	</ul>
</body>
</html>