<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>수정 페이지</title>
</head>
<body>
<!-- submit 하면 Controller에서 Spring이 자동으로 객체를 만든다. 
memo.id = 1 memo.memoText = 수정 내용 그래서 save()가 실행되면 
update가 되는 것!  -->
<h2>메모 수정</h2>
<form action="/memo/modify" method="post">
	<input type="hidden" name="id" th:value="${memo.id}">
	<div>
	내용
	<input type="text" name="memoText" th:value="${memo.memoText}">
	<button type="submit">수정</button>
	</div>
</form>
</body>
</html>