/* 공통(레이아웃, 헤더, 버튼, 폰트 등*/
body {
  margin: 0;
  background: #f5f5f5;
}

.custom_btn {
  padding: 8px 15px;
  border: none;
  border-radius: 15px;
  background: #222;
  color: white;
  cursor: pointer;
  white-space: nowrap;
}

.custom_content-box {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}
